/* footer style */
.footer-background {
  margin: 20px 0 0 0;
  height:5%;
  padding-top:20px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
  width: inherit;
  background-color: #f1f1f1;
}

hr.footer-border {
  border: 2px solid black;
  border-radius: 5px;
}

.footer-message {
text-align: center;
margin: 10px 10px 10px 10px;
padding-left: 10%;
padding-right: 10%;
padding-bottom: 5%;

}

/*footer */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.container {
    padding: 0px;
}

.jumbotron {

    background-color: transparent !important;
}

.card {
  padding-top:10%;
}

.card-image-top {
   width: 100px;
    height: 100px;

}

#banner {
      position: bottom;
    background-color:yellow;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100px;
  z-index: -1;
}

.carousel {
    align-content: center;
    height: 500px;
    width: 500px;

}

.menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    padding: 0 0 0 50px;
}
.collapsible-menu {
    background-color: rgb(255, 255, 255);
   /* padding: 0px 30px; */
    border-bottom: 3px solid #CDE700;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}
.collapsible-menu a {
    display:block;
    padding: 10px;
    text-decoration: none;
}

.collapsible-menu label {
    font-family: sans-serif, cursive;
    font-size: 20px;
    display: block;
    cursor: pointer;
    background: url(/images/menu_icon.png)no-repeat left center;
    padding: 10px 0 10px 50px;
    border: 2px solid black;
}
input#menu {
    display: none;
}

input:checked ~ .menu-content {
    max-height: 100%;
}

h4 {
    text-align: center;
}

video {
    width: 100%;
    height: auto;
}

.shop-box {
	margin-top:10px;
    margin-bottom: 10px;
	border: #cdcdcd medium solid;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
/*Icons made by https://www.flaticon.com/authors/cole-bemis from www.flaticon.com/ */

/* calendar */
